<div class="center hero-unit">
  <h1>Welcome to BestBay</h1>

  <h2>
    Mini ebay, Much Fun!
  </h2>

  <%= link_to "Login with google!", items_path,
              class: "btn btn-large" %>
  <%= link_to "Sign up", new_user_registration_path %>
</div>
