    <%= form_for @item, :html => { :class => "form-horizontal" } do |f| %>
        <div class="control-group">
          <label class="control-label" for="item_name">Bid: </label>
          <div class="controls">
            <%= f.text_field :highest_bid%>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <%= f.submit "Submit", :class=>"btn btn-primary" %>
          </div>
        </div>
    <% end %>
