<h1>Wishlists</h1>
<hr>
<%= render :partial => 'show_template', :collection => @wishlists, :as => :wishlist, :spacer_template => "layouts/hr" %>
<hr>
<%= render 'new_template', :wishlist => @wishlist %>
